/*body {
        margin      : 0;
        padding     : 0 0 50px 0;
        font-family : "Arial";
        font-size   : 14px;
        line-height : 18px;
        cursor      : default;
}*/
html, body{  }
body{ font-family: "Arial", sans-serif; font-size: 13px; background: #191919; }



a{ color : #ef7c61; }
a:hover, a:active, a:focus{ color:#000000; text-decoration: none !important; outline: 0; }

h1, h2, h3{ font-family:"Helvetica Neue"; font-weight: normal; }
h2, h3{ color:#F16E00; }

textarea{ resize:vertical; }

.align-image img, .align-image span{ vertical-align: middle; display: inline-block; }

#header, #footer{ color: #FFFFFF; background: #000; line-height: 60px; height: 64px; width: 100%; }
#header{ padding: 0 20px; }

#footer{ line-height: 64px; }

#numberCall{font-family: "Arial", sans-serif; color:#F16E00; font-size: 20px; font-weight: bold; }

#header h1#project-title, #header img, #header span
{
    vertical-align: middle;
    display: inline-block;
}

#header h1#project-title
{
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0 7px 0 14px;
    font-size: 16px;
    font-weight: bold;
}

#header #admin-tag
{
    color:#FFFFFF;
    font-weight:bold;
    border:1px solid #FFFFFF;
    line-height:normal;
    padding:2px 4px;
    margin-left:10px;
}

#header #hello{ font-family: "Arial", sans-serif; color:#F16E00; font-size: 13px; font-weight: bold; }
#header #menu-trigger{ display: inline-block; zoom: 1; *display: inline-block; color:#FFFFFF; padding: 0 0px; }
#header #sub-title{font-size: 9px;display: block;margin-left:60px;margin-top:-40px;}

/***********************
*** MENU
***********************/

#menu{ overflow-x:hidden; }
#menu ul{ list-style-type: none; font-size: 13px; font-weight: bold; margin:0; padding:0; }
#menu ul li{ line-height: 13px; line-height:initial; }
#menu ul li a{ display: inline-block; width: 100%; color:#FFFFFF; padding: 16px; }
#menu ul li a:hover, #menu ul li a:active, #menu ul li a:focus{ background:#1f1f1f; }

#menu ul li.dropdown ul{ display:none; background: #1f1f1f; }

#search-employee{ color:#888888; background-color:#303030; border:none; border-radius:0px; }
#search-employee:focus, #search-employee:active{ background-color:#363636; box-shadow:none; }

/***********************
*** CONTENT
***********************/

.fullheight{ min-height:100%; height:100%; }

#wrapper{ /*height: calc(100% - 122px);*/ }
#content{ padding:2em; background: #FFFFFF; }
.container-fluid{ max-width: 90%; margin: auto; }
.container-fluid h2:first-of-type{ margin-top:0; }
.row.pan{ padding: 10px; background:#E0E0E0; }
.row h3.form-part-title{ margin:0 0 16px 0; padding:0; }

div#records{ overflow-x: scroll; }
div#records table th{ padding: 0 10px; padding-bottom: 16px; vertical-align: middle; }
div#records table th:first-child{ padding: 0 0px; padding-bottom: 16px; vertical-align: middle; }
div#records table td{ text-align: center; }
div#records table td:first-child{ text-align: left; }

/***********************
*** Bootstrap Override
***********************/
.orange{color: #F16E00}
.navbar{ border:0 !important; }
fieldset { border-top: 1px solid #000000 !important; }
fieldset legend{ color:#F16E00; font-size: 14px; font-weight: bold; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{ background-color:#F16E00; }
.nav > li > a:hover, .nav > li > a:focus{ background-color:#FFFFE5; }

.caret.caret-reversed{ border-top-width:0; border-bottom: 4px solid #FFFFFF; }

.navbar-form{margin-top:0px !important;}
/***********************
*** PLUGIN bigSlide.js
***********************/
.panel{ z-index:9999; position: fixed; right: -18em; width: 18em; background:#000000; border:0; }
.push{ position: relative; }

#footer {
    position : relative;
    bottom : 0;
    margin-top:15px;
}

#charts{
    display:inline;
}
u.dotted{
    border-bottom: 1px dotted #777;
    text-decoration: none; 
    cursor:help;
}
/*
#header h1, #header a {
        display : inline-block;
}

#header h1 {
        margin      : 0;
        font-weight : normal;
}
*/

/*
label, input {
        clear  : both;
        float  : left;
        margin : 5px 0;
}

.error{
        color:red;
}
.success{
        color:green;
}

table{
    border:#ccc 1px solid; 
}
table th{
    background:#333;
    color:white;
    padding: 7px;
}

table td:first-child  {
    border-left:none;
    border-right:none;
}
table td {
    vertical-align: top;
    padding: 10px;
}

table tr{
        border-bottom:#ccc 1px solid; 
}

*/

.ui-widget-header{ color:#000000 !important; }


.no_text_form{
    width: auto;
    text-decoration: none; 
    background:none;
    border:none;
    box-shadow: none; 
    cursor: default;
}

.no_text_form:focus{
    outline: 0;
    box-shadow: none; 
}

.bg-red{
    background-color:#F2DEDE;
}
.red{
    color:#D9534F;
}
.red2{
    color:#FC6042;
}

.bg-orange{
    background-color:#FCF8E3;
}
.bg-green{
    background-color:#DFF0D8;
}
.green{
    color:#DFF0D8;
}
.green2{
    color:#2CC990;
}

.vbaseline{
    vertical-align:baseline;
}



/** Animation de chargement - dans le modal commentaire historique*/
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
/** ----------------------- */

.modal-backdrop {
    z-index: -1;
}

.customer_contain{
    background-color: #d2d6de; 
    border-radius: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.datacustomcall{
    padding-top: 10px;
}

.right{
    text-align: right;
}
